<h2>Confirm email</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
    <p>
        Now, you may sign in from <a asp-area="user" asp-controller="account" asp-action="login">here</a>.
    </p>
</div>